<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <% @team_hash.each do |position, name| %>
   <h2> <%= "#{position}#{name}" %> </h2>
   <% end %>

 </body>
</html>
